<div layout-padding>
<h3> About GIFlashcard </h3>

<p>	GIFlashcard is a flashcard creation tool that helps language learners learn vocabulary. Unlike regular flashcards that have images on them, GIFlashcard uses animated GIFs as visual clues. Language learners can create and share their own flashcards made with their favourite funny GIFs. GIFlashcard makes learning vocabulary more fun and engaging, and therefore enhancing learning outcomes.
</p>

<p> GIFlashcard is entered as a semi-finalist for the <a href="//www.pearsoned.com/higher-education/coding-contest/">Pearson 2015 Student Coding Contest </a>.  
</p>

<p> GIFlashcard is made with love by <a href="//www.linkedin.com/in/si-fi-faye-li-318aa568">Faye Li</a>.
</p>

<h4> Inspiration </h4>

<p>
	Learning a foreign language is no easy matter. "There are too many of them!", "This is boring", "Why do they all look so unfamiliar and difficult?" are the most common reactions amongst language learners when given a list of vocabulary for studying. Students are getting discouraged too early. They are associating learning vocabulary with frustration and disappointment. As a result, the learning outcomes are not that great.
</p>

<p>GIFlashcard addresses the problem in vocabulary learning with a fun and engaging learning tool. Students learn the best when they are interested and passionate about what they are doing. It is an incredible boast when learning vocabulary is associated with fun.
</p>

<p>How do we spark fun and promote vocabulary learning at the same time? Studies have shown that we can remember a lot more effectively by association, that is, by linking new information with old information, which is in long term memory. For example, if students are given a new word with an image, the word is more likely to be processed and stored by their brains because they were already familiar with the visuals. This is why vocabulary flashcards are so commonly used within language learners.
</p>

<p>GIFlashcard takes the flashcard learning method a step further by adding interactivity and animated GIFs. Using GIFlashcard, learners can very easily create their own flashcards made with their favourite funny GIFs. On the front side on the flashcard is the vocabulary with a related GIF fetched throught the Giphy API, and on the back side, a translation of the vocabulary is provided by the Pearson Dictionaries API. Learners can also share the flashcard they create to friends through social media. GIFlashcard brings fun and successful learning outcome in vocabulary learning. Because who doesn't like funny GIFs?!
</p>

<h4> Credits </h4>
<p>GIFlashcard's logo (<a href="//thenounproject.com/search/?q=cards&i=20461">"Cards"</a>) is created by Henry Ryder from the Noun Project.
</p>
</div>